@charset "UTF-8";

@font-face {
    font-family: "xiaokai";
    src: url("../fonts/xiaokai/xiaokai.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "kaiti";
    src: url("../fonts/kaiti/kaiti.woff") format("woff");

}